* {
  color:white;
  font-family: monospace;
  font-size:x-large;
}
body {
  /*background-color:#f5e6d3;*/
  background-color: black;
}
hr {
  border: 2px solid;
  border-radius: 5px;
}
#bd {
  padding-left: 10%;
  padding-right: 10%;
}
#text {
  text-align: center;
}
#header {
  padding: 1%;
}
#heading {
  margin-left:2%;
  display: inline-flex;
  text-decoration: none;
  user-select: none; /* Standard */
}
#heading:hover{
  outline: 2px solid;
  border-radius: 5px;
}
#canvas {
  margin-top: -1%;
  outline: 2px solid;
}
#score{
  position:relative;
  text-align: center;
  font-size:35px;
}
#restart{
  position: relative;
  text-align: center;
  font-weight: bolder;
  color:blueviolet;
  font-size:xx-large;
}
#abouthelpGIF{
  width:35vh;
  margin-top: 3vh;
}